/* General Styles */
body {
  background-color: #00b4cc;
}

/* Game Styles */
.game {
	position:relative;
	z-index: 99999999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Menu Styles */
.menu {
	position:relative;
	z-index: 200;
	height: 5vh;   
	max-width: 780px;
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 5vh 5vh 1fr 5vh 5vh;
	grid-gap: 0;
}

.menu h1{
  grid-column: 3;
  font-weight: 600;
  font-size: 4vh;
  line-height: 6vh;
  height: 6vh;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login */

.perfil-container {
  grid-column: 5;
  position: relative;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 100;
}

.perfil-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}    
    
.perfil-menu {
	grid-column: 5;
	display: none;
	position: relative;
    right: 95px;
	width: 200px;
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 150;
}

.login-block
{
  display: block;
  justify-content: center;
  align-items: center;
}

.perfil-block
{
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.button-container-perfil
{
  justify-content: center;
  align-items: center;
  display: grid;
}

#buttoncontainerperfil .perfilsair{
  background: #eea1a1;
	color: #f73636
}

#buttoncontainerperfil .perfilsair:hover{
	background: #f73636;
	color: #eea1a1;
}


form {
  text-align: center; 
}

/* Reduza o tamanho dos campos de input */
#username,
#password {
  outline: none;
  width: 60px; 
  padding: 8px; 
}

/* Estilize o botão de login, se desejar */
#loginBlock input {
  outline: none;
  width: 100px; 
  padding: 8px; 
  margin: 5px;
  background-color: #FFF;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  cursor: pointer;
}

#loginBlock button-container {
  position: relative;
  justify-content:right;
  display: flex;
}

#perfilMenu button {
  padding: 5px;
  margin: 2px;
  background-color: #2d65d5;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#perfilMenu .criar-conta{
  background-color: #4b1c8d;
}


/* Cria conta  */

#perfilMenu .criar-conta-block{
	margin: 5px;
	position: relative;
	flex-direction: column;
  text-align: -webkit-center;
}


#criarcontaBlock input{
  outline: none;
  width: 100px; 
  padding: 8px; 
  margin: 5px;
  background-color: #FFF;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  cursor: pointer;
  display: list-item;
}

#criarcontaBlock button{
  padding: 5px;
  margin: 2px;
  background-color: #2d65d5;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Apos login */
-block
.perfil-block {
  display: flex;
  flex-direction: column; 
}

.perfil-block h1{
  font-family: 'Georgia', serif;
  font-size: 1em;
}

/* Info perfil */

.info-perfil{
	display: none;
	position: absolute;
	top: 100px;
	width: 450px;
	height: 485px;
	border-radius: 7%;
	background-color: #fff;
	z-index: 150;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info-config{
	margin: 5px;
	position: relative;
	flex-direction: column;
}

#infoconfig h2{
	font-size: 1.3em;
}

#infoconfig input{
  outline: none;
  width: 100px; 
  padding: 8px; 
  background-color: #FFF;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  cursor: pointer;
}

#infoconfig button {
  padding: 10px;
  margin: 2px;
  background-color: #2d65d5;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#infoconfig .del_but{
	background: #f5f2f2;
	color: #f73636
}

#infoconfig .del_but:hover{
	background: #f73636;
	color: #fbe3e3;
}

.Config-header{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Alerta */

.alert {
  grid-column: 2;
  outline: none;
  opacity: 0;
  z-index: 100;
  background-color: rgba(0, 95, 107, 0.3);
  font-family: 'Mitr', sans-serif;
  color: #ffffff; /* Changed from white to #ffffff for better visibility */
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.4em 1.5em;
  border-radius: 0.4em;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0,0.3); 
}

/*Life Styles */
.life{
  grid-column: 2;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*Heart Styles */
.heart{
  padding: 10.5px;
}

/* Main */

.main
{
	position:relative;
	z-index: 1;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:1fr;
  gap: 20px; 
  justify-content: center; /* Centraliza horizontalmente */
}

/* Blocks Container Styles */
#all_blocks {
  grid-column: 2;
}


.blocks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* Input Block Styles */
.input-block {
  border: 3px solid #008c9e;
  background-color: rgba(0, 95, 107, 0.3);
  margin: 5px;
  padding: 10px;
  height: 55px;
  width: 55px;
  text-align: center;
  font-size: 20px;
  aspect-ratio: 1;
  font-weight: 600;
  font-family: 'Mitr', sans-serif;
  color: white;
  border-radius: 10%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  line-height: 1em;
  cursor: pointer;
  caret-color: transparent;
  text-shadow: 1px 1px 1.5px rgba(0, 0, 0,0.5); 
}

.input-block:focus {
  outline: none;
  border-bottom: 7px solid rgba(0, 95, 107, 0.3);
}

/* Letras usadas */

#letras_used{
    grid-column: 3;
    border: 3px solid #008c9e;
    background-color: rgba(0, 95, 107, 0.3);
    margin: 5px;
    height: 400px;
    width: 350px;
    font-size: 20px;
    aspect-ratio: 1;
    font-family: 'Mitr', sans-serif;
    color: white;
    border-radius: 10%;
    display: flex;
    box-sizing: border-box;
    font-size: 1.25em;
    line-height: 1em;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    caret-color: transparent;
    text-align: justify;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0,0.7); 
}


#letras_used h2{
  color: white;
}

#letras_used .l_des
{
  color:rgb(232, 127, 127);
}

#letras_used .l_enc
{
  color:rgb(249, 244, 148);
}

#letras_used .l_cer
{
  color:rgb(7, 220, 152);
}

#letras_used h3{
  font-size: 20px;
}





/* Animations */
@keyframes onda {
0%, 100% { transform: translate(0px, 0px) rotate(0deg); }
5%, 95% { transform: translate(0px, -2px) rotate(0deg); }
10%, 90% { transform: translate(0px, -4px) rotate(0deg); }
15%, 85% { transform: translate(0px, -6px) rotate(0deg); }
20%, 80% { transform: translate(0px, -8px) rotate(0deg); }
25%, 75% { transform: translate(0px, -10px) rotate(0deg); }
30%, 70% { transform: translate(0px, -12px) rotate(0deg); }
35%, 65% { transform: translate(0px, -14px) rotate(0deg); }
40%, 60% { transform: translate(0px, -16px) rotate(0deg); }
45%, 55% { transform: translate(0px, -18px) rotate(0deg); }
50% { transform: translate(0px, -20px) rotate(0deg); }
}

.onda {
animation: onda 0.5s;
}

@keyframes shake {
  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-2px, 0) rotate(0deg); }
  20%, 40%, 60%, 80% { transform: translate(2px, 0) rotate(0deg); }
}

.shake {
  animation: shake 0.5s ease-in-out 0.05s;
}

@keyframes rshake {
0%, 100% { transform: translate(1px, 0) rotate(5deg); }
10%, 90% { transform: translate(-1px, 0) rotate(-5deg); }
20%, 80% { transform: translate(-2px, 0) rotate(5deg); }
30%, 70% { transform: translate(2px, 0) rotate(-5deg); }
40%, 60% { transform: translate(1px, 0) rotate(5deg); }
50% { transform: translate(-1px, 0) rotate(-5deg); }
}

.rshake {
animation: rshake 0.8s;
}

@keyframes yshake {
0%, 100% { transform: translate(1px, 0) rotate(2deg); }
10%, 90% { transform: translate(-1px, 0) rotate(-2deg); }
20%, 80% { transform: translate(-2px, 0) rotate(2deg); }
30%, 70% { transform: translate(2px, 0) rotate(-2deg); }
40%, 60% { transform: translate(1px, 0) rotate(2deg); }
50% { transform: translate(-1px, 0) rotate(-2deg); }
}

.yshake {
animation: yshake 0.5s;
}

@keyframes grow {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.grow {
  animation: grow 0.3s;
}

/* Easter eggs */

#player-container {
  display: none; /* Inicialmente, oculta o player */
 
  justify-content: center;
  align-items: center;
}
